body {
    background-color: black;
    font-family: arial;
    color: white;
}

h1 {
    color: gray;
    font-family: verdana;
}

#main_div {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

#main_div_body {
    margin-left: 20%;
}
