body {
    background-color: black;
    font-family: arial;
    font-weight: bold;
    color: white;
}

h1 {
    color: gray;
    font-family: verdana;
}

#main_div {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

.main_div_body_col_0,
.main_div_body_col_1,
.main_div_body_col_2 {
    margin-bottom: 8px;
}

.main_div_body_col_0 {
    float: left;
    margin-left: 15%;
    width: 120px;
}

#result {
    width: 100%;
}

footer,
button {
    clear: both;
}